.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Мобільне меню
// Кнопка відкриття мобільного меню
.header__btn {
  padding: 10px 0;

  color: var(--color-icon-dark);

  background-color: transparent;
  border: none;
  cursor: pointer;

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--color-accent-primary);
  }
}

.header__icon {
  fill: currentColor;
}

.navigation {
  display: none;
}

.contact__list {
  display: none;
}
