.header {
  border-bottom: 1px solid var(--color-border-header);
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation__list {
  @include centeredFlex(flex, 50px);

  margin-left: 93px;

  @include fonts(500, 14px, 16px, 0.02em);
  color: var(--color-text-primary);
}

.navigation__link {
  display: block;
  padding-top: 31px;
  padding-bottom: 31px;
  @extend %link;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--color-accent-primary);
  }
}

.navigation__link--current {
  position: relative;
  color: var(--color-accent-primary);

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    height: 4px;
    width: 100%;

    background: currentColor;
    border-radius: 2px;
  }
}

.contact__list {
  display: flex;
  align-items: center;
  gap: 30px;

  margin-left: auto;
  color: var(--color-text-treriary);

  @include fonts(500, 14px, 16px, 0.02em);
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;

  position: relative;

  padding-top: 31px;
  padding-bottom: 31px;

  @extend %link;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--color-accent-primary);
  }
}

.contact__icon {
  fill: currentColor;
}
