html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
body {
  font-family: var(--font-primary);
  font-style: normal;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);

  &.no-scroll {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
