:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;

  --color-accent-primary: #2196f3;
  --color-accent-secondary: #188ce8;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f4fa;
  --color-bg-tretiary: #2f303a;
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --color-bg-hero: rgba(47, 48, 58, 0.4);
  --color-bg-overlay-primary: rgba(33, 150, 243, 0.9);
  --color-bg-overlay-secondary: rgba(47, 48, 58, 0.8);

  --color-text-primary: #212121;
  --color-text-secondary: #ffffff;
  --color-text-treriary: #757575;
  --color-text-footer-contacts: rgba(255, 255, 255, 0.6);

  --color-icon-fill-primary: #afb1b8;
  --color-icon-fill-secondary: #ffffff;
  --color-icon-footer-bg: rgba(255, 255, 255, 0.1);
  --color-icon-dark: #000000;

  --color-border-icon: #eeeeee;
  --color-border-icon-close: rgba(0, 0, 0, 0.1);
  --color-border-subscribe-input: rgba(255, 255, 255, 0.3);
  --color-border-modal-input: rgba(33, 33, 33, 0.2);
  --color-border-header: #ececec;
  --color-border-card: #eeeeee;

  --color-shadow-primary: rgba(0, 0, 0, 0.15);
  --color-shadow-secondary: rgba(47, 48, 58, 0.8);

  --color-shadow-team-card-one: rgba(0, 0, 0, 0.12);
  --color-shadow-team-card-two: rgba(0, 0, 0, 0.14);
  --color-shadow-team-card-three: rgba(0, 0, 0, 0.2);

  --color-shadow-card-one: rgba(0, 0, 0, 0.12);
  --color-shadow-card-two: rgba(0, 0, 0, 0.06);
  --color-shadow-card-three: rgba(0, 0, 0, 0.16);

  --color-shadow-filter-one: rgba(0, 0, 0, 0.1);
  --color-shadow-filter-two: rgba(0, 0, 0, 0.08);
  --color-shadow-filter-three: rgba(0, 0, 0, 0.12);

  --gap-projects-list: 30px;
  --number-items: 3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
